#title {
  color: white;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: white;
}

#subtitle {
  color: black;
  text-align: center;
  text-decoration-color: white;
  margin-left: 5%;
  margin-right: 5%;
}

#margen {
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 1%;
  padding-right: 1%;
  border-style: double;
  border-width: 1px:
  border-color: white;
  background-color:  	#F8F8FF;
}

.margin-left {
  margin-left: 5%;
}

.espacios {
	margin-top: 0.5%;
}